<div class="sidenav">
    <div class="header-rsc"><span class="title-rsc-mission">RSC</span></div>
    <div class="header-mission">
        <div class="mission-overview"><span class="title-mission">MISSION</span>
            <span class="title-mission">OVERVIEW</span>
        </div>
        <div class="target-body">
            <span class="head-target">TARGET</span>
            <span class="body-target" >STS-63 was the firt mission of the US/Russian Shuttle-Mir Proman, which carried out the first rendezvous
                of the American Space Shuttle with Russia space station Mir.</span>
        </div>
    </div>
    <div>
        <div class="header-crew">
        <span class="head-target">CREW OVERVIEW</span>
        </div>
        <div class="head-crew">
            <div class="content-crew">
            <div>
            <span class="title-mission">US</span>
            </div>
            <div div class="body-crew">
            <span class="body-target">James D.Wetherbee </span>
            <span class="align-roll">Commander</span>
            </div>
            </div>
            <div class="content-crew">
                <div>
                <span class="title-mission">US</span>
                </div>
                <div class="body-crew">
                <span class="body-target">Eileen Collins</span>
                <span class="align-roll">Pilot</span>
                </div>
            </div>
            <div class="content-crew">
                <div>
                <span class="title-mission">RU</span>
                </div>
                <div class="body-crew">
                <span class="body-target">Vladimir G. Titov</span>
                <span class="align-roll">Mission Spec.</span>
                </div>
            </div>
        </div>
        
    </div>
</div>