<div>
    <mat-tab-group>
        <mat-tab label="Mission"> Mission </mat-tab>
        <mat-tab label="Crew">
            <div class="content-crew">
                <div class="profile-crew">
                    <div class="profile">
                        <div class="profile-foto">
                            <img style="width: 100%; height: 100%" src="\assets\img\James.JPG"/>
                        </div>
                        <div class="profie-title"><span class="name-crew">Jame D. Wetherbee</span>
                            <span class="occupation-name">COMMANDER</span>
                        </div>
                        <div class="border-profile"></div>
                        <div class="description-profile">
                            <p class="text-profile">
                                James Donaldo "Wxb" Wetherbee (born november 27, 1952).
                                is an American former naval officer and aviator, test, profile-foto,
                                aerospace engineer,
                                and NASA Astronaut.
                            </p>
                        </div>
                    </div>
                    <div class="profile">
                        <div class="profile-foto">
                            <img style="width: 100%; height: 100%" src="\assets\img\Eilee.JPG"/>
                        </div>
                        <div class="profie-title"><span class="name-crew">Eileen Collins</span>
                            <span class="occupation-name">PILOT</span>
                        </div>
                        <div class="border-profile"></div>
                        <div class="description-profile">
                            <p class="text-profile">
                                Eileen Marie Collins (born November 19, 1956) is a
                                retired United States Air Force Colonel. A formes military
                                instructor and test pilot.
                            </p>
                        </div>
                    </div>
                    <div class="profile">
                        <div class="profile-foto">
                            <img style="width: 100%; height: 100%" src="\assets\img\vladi.JPG"/>
                        </div>
                        <div class="profie-title"><span class="name-crew">Vladimir G. Titov</span>
                            <span class="occupation-name">MISSION SPEC.</span>
                        </div>
                        <div class="border-profile"></div>
                        <div class="description-profile">
                            <p class="text-profile">
                                Vladimir Georgiyevich Titov (born 1 january 1947 in Sretensk, 
                                zabaykalsky krai, Russia) is a retired Russian Air Force Colonel and
                                former cosmonaut.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </mat-tab>
        <mat-tab label="Gallery"> Gallery </mat-tab>
        <mat-tab label="Audio Files"> Audio Files </mat-tab>
        <mat-tab label="Mission Course"> Mission Course </mat-tab>
    </mat-tab-group>
</div>